# Statistics and Data Science Notebook

## Let's start

In [71]:
print("Hello, world") #Displays Hello, world

Hello, world

In [135]:
type("Hello") #A string is a sequence of characters

str

In [10]:
type(3)

int

In [11]:
type(-4)

int

In [12]:
type(7.5) #Float is a real number

float

In [13]:
type(1+2j)

complex

## Variables

Variables are a way to store data

In [14]:
a = 5 #We assign the value 5 to the variable a

In [15]:
a #Shows the value stored for variable a

5

In [16]:
type(a)

int

## Operations

In [17]:
3+7

10

In [20]:
74%7

4

In [21]:
74//7

10

In [23]:
2.1+3.2

5.300000000000001

In [25]:
"Hello"+"World" #Connects the two strings into a single one

'HelloWorld'

In [28]:
"I am " + str(25) + " years old"

'I am 25 years old'

In [29]:
int("86")

86

## Assignment Operation

In [67]:
my_var = 7 #The = is an assignment operator

In [50]:
my_var = my_var +1

In [49]:
my_var

17

In [59]:
my_var +=1 #Adds 1 to the variable my_var

In [58]:
my_var

8

In [62]:
my_var *= 7

In [63]:
my_var

49

In [64]:
a=3
b=2

print(a)
print(b)

3
2

In [70]:
my_var **=2 #to the power 2

In [71]:
my_var

2401

## Comparison Operator

In [72]:
a= 10
b= 12

b>a

True

In [75]:
type(True)

bool

In [76]:
b<a

False

In [78]:
a == b #Compares a and b to see if they are equal

False

In [81]:
"Jordan" > "Lebron James" #Compares the unicode numbers

False

In [84]:
ord("J") #Shows the unicode number for J

74

## Identity Operator

In [95]:
a=4.3
b=4.3

a == b #Compares to see if the value of a and the value of b are the same

True

In [98]:
a is b #Checks if they occupy the same space in memory; for integers between -5 and 256, same space in memory

False

In [101]:
id(a) #Location in the memory of variable a

140443706517264

In [102]:
id(b)

140443417568912

## Logical Operator

In [107]:
a = 4
b = 4
c = 7.1
d = 8.2

a == b and d>c #Checks if both conditions are true

True

In [108]:
True and False

False

In [109]:
True or False # If one is true --> True

True

## Conditionals

Social Dilemma --> Ex. Prisonner's dilemma, like climate change, if one acts but not the other etc...

In [116]:
cost = 1     #Individual cost
benefit = 3  #Social benefit
kappa = 0.5  #Degree of morality

if kappa*benefit >= cost*(1-kappa): #If this condition is true, it will print eduardo is cooperating
    print("Edoardo is cooperating")

Edoardo is cooperating

In [119]:
if kappa*benefit >= cost*(1-kappa):
        print("Edoardo is cooperating")
else:                                               #Else allows us for example to print something else if condition not true
        print("Edoardo is not cooperating")

Edoardo is not cooperating

In [118]:
kappa = 0

In [123]:
kappa_1 = 0.2
kappa_2 = 0.3

if kappa_1*benefit >= cost*(1-kappa_1) and kappa_2*benefit >= cost*(1-kappa_2):
    print("Edoardo and Quentin cooperate")
elif kappa_1*benefit < cost*(1-kappa_1) and kappa_2*benefit < cost*(1-kappa_2):
    print("Nobody cooperates")
else:
    print("Only Edoardo or Quentin cooperates")

Only Edoardo or Quentin cooperates

## Collection of elements

### List

In [2]:
my_list = [2,3.5, "cat"]

In [3]:
my_list

[2, 3.5, 'cat']

In [4]:
my_list_2 = ["dog", 6.2]

my_list + my_list_2

[2, 3.5, 'cat', 'dog', 6.2]

In [5]:
my_list*4 #takes your list and adds it 4 times

[2, 3.5, 'cat', 2, 3.5, 'cat', 2, 3.5, 'cat', 2, 3.5, 'cat']

### Tuples

In [6]:
my_tuple = (4,8.9, "bird")
my_tuple

(4, 8.9, 'bird')

In [8]:
my_tuple_2 = (3,"insect")
my_tuple + my_tuple_2

(4, 8.9, 'bird', 3, 'insect')

### Conversion

In [9]:
my_list = [2, 3.5, "cat"]
tuple(my_list) #Converts my list to a tuple

(2, 3.5, 'cat')

In [10]:
my_tuple = (4, 8.9, "bird")
list(my_tuple) #converts my tuple into a list

[4, 8.9, 'bird']

### Indexing

In [13]:
my_list = [2, 3.5, "cat"]
my_list [1] #Indexing in python starts at 0; to get the second number, type 1

3.5

In [14]:
my_list [0]

2

In [15]:
my_tuple = (4,8.9, "bird")
my_tuple[0]

4

In [18]:
my_list = [0,1,2,3,4,5,6,7,8,9,10]
my_list[0:5] #Extracts the first five elements

[0, 1, 2, 3, 4]

In [19]:
my_list[6:11]

[6, 7, 8, 9, 10]

In [23]:
my_list[-1] #The last element can be referred to as -1; the second to last element is -2, etc.

10

In [28]:
my_tuple = (0,1,2,3,4,5,6,7,8,9,10)

In [29]:
my_tuple[3:7]

(3, 4, 5, 6)

In [31]:
my_tuple [::2] #Double colon --> jumps every two

(0, 2, 4, 6, 8, 10)

In [32]:
my_tuple[1::3] #We start at the second element, then we go in steps of 3

(1, 4, 7, 10)

## Mutability

Mutability means being able to replace a value with another or another type (ex. with string)

List is mutable, tuple is not

In [36]:
my_list = [0,1,2,3,4]
my_tuple = (0,1,2,3,4)

my_list [1] = "one" #Replaces the second element in my_list with the strong one
my_list

[0, 'one', 2, 3, 4]

In [54]:
my_list = [0,1,2,3,4]
id(my_list)

140194847065536

In [55]:
my_list[2]="two"
id(my_list)

140194847065536

In [58]:
my_list

[0, 1, 'two', 3, 4]

In [59]:
my_tuple = (0,1,2,3)
list(my_tuple)

[0, 1, 2, 3]

In [60]:
my_tuple = (0,1,2,3)
my_list = list(my_tuple) #We transform our tuple into a list
print(my_list)

[0, 1, 2, 3]

In [61]:
my_tuple = (0,1,2,3)
my_list = list(my_tuple) #We transform our tuple into a list
my_list[3] = "three"

print(my_list)

[0, 1, 2, 'three']

In [62]:
my_tuple = tuple(my_list)
my_tuple

(0, 1, 2, 'three')

## Methods

To copy a list:

Using this method ensures when we modify the copy we do not modify the original

In [68]:
my_list=[0,1,2,3,4,5]
my_list_copy=my_list.copy()

In [69]:
print(my_list_copy)

[0, 1, 2, 3, 4, 5]

In [75]:
my_list_copy[1]="one"
print(my_list_copy)

[0, 'one', 2, 3, 4, 5]

In [76]:
print(my_list)

[0, 1, 2, 3, 4, 5]

In [80]:
my_list = [0,1,2,3,4]
my_list.append(5) #The function .append adds something to the end
my_list

[0, 1, 2, 3, 4, 5]

In [82]:
my_list.clear() #Clears the variable my_list but does not delete it
my_list

[]

In [92]:
my_list=[1,2,3,4,5,6]
my_list.remove(3) #We remove the element 3 from the list

In [93]:
my_list

[1, 2, 4, 5, 6]

In [94]:
my_list=[1,2,3,4,5]
my_list.pop(3) #Removes the element at position 4 in the list

4

In [95]:
my_list

[1, 2, 3, 5]